<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="AccessACE" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Test1.accdb;User Id=;Password=;"
      providerName="System.Data.OleDb" />

    <add name="AccessJET" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\DATA\Projekti\dotNET\Terminal\SDK\Terminal.mdb;User Id=;Password=;"
         providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>